@media print {    
  .no-print, .no-print * {
    display: none !important;
  }

  .container {
    max-width: none !important;
  }
}

.push-bottom {
  margin-bottom: 40px;
}

ol > li > ul {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

li.answer-correct {
  color: green;
}

li.answer-incorrect {
  color: red;
}

input.fill {
  font-size: 20px;
}

input.fill.answer-correct {
  color: green;
  outline-color: green;
}

input.fill.answer-incorrect {
  color: red;
  outline-color: red;
}