<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-us" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2">

    <title>
      {% if page.title %}
        {{ page.title }} &middot; {{ site.title }}
      {% else %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% endif %}
    </title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics }}');
    </script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">

    <!-- Math -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['$','$']]
        }
      });
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>


  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead no-print">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
        {% unless page.noslides or layout.noslides %}
        <div class="no-print push-bottom">
          <hr />
          <div>
            <a href="#" onclick="window.print();return false;">Printo faqen</a>
            &nbsp;|&nbsp;
            <a href="{{ site.baseurl }}/slideshow.html?src={{ page.url | url_encode }}&title={{ page.title | url_encode }}">Hap slajdet</a>
            &nbsp;|&nbsp;
            <a href="{{ site.baseurl }}/slideshow.html?src={{ page.url | url_encode }}&title={{ page.title | url_encode }}&print-pdf" target="_blank">Printo slajdet</a>
            &nbsp;|&nbsp;
            <a href="#">Kthehu lart</a>
          </div>
        </div>
        {% endunless %}
      </div>
    </div>

    {% unless page.suppresshooks %}
    <script src="{{ site.baseurl }}/public/js/init.js" async></script>
    {% endunless %}
  </body>
</html>
